<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost.headers" version="2018.4.30.1" targetFramework="native" />
  <package id="directxtex" version="1.2.0" targetFramework="native" />
  <package id="Eigen3" version="2018.4.30.2" targetFramework="native" />
  <package id="Microsoft.Lift.Core.CPP" version="2.4.4.0-b048-g528df3b" targetFramework="native" />
  <package id="Microsoft.Lift.Core.CX" version="2.4.4.0-b048-g528df3b" targetFramework="native" />
  <package id="Microsoft.Lift.Engine.CPP" version="2.4.4.0-b048-g528df3b" targetFramework="native" />
  <package id="OpenCV" version="2018.4.18.1" targetFramework="native" />
</packages>